.alert {
    background: var(--alert-bg);
    border: 1px solid var(--border);
    box-shadow: 0 2px 4px var(--shadow);
    border-radius: 3px;
    transition: 0.3s;
    margin: calc(var(--space) * 3) auto;
    padding: calc(var(--space) * 2);
    width: 100%;
    display: flex;
    align-items: center;
    animation: alertIn 0.5s both;
    line-height: 1.2;
    position: relative;
    border-bottom: 3px solid var(--border);
    color: #000;
}
.alert.out {
    animation: alertOut 0.5s both;
}
.alert > svg:first-child {
    width: 30px;
    height: 30px;
    margin-right: calc(var(--space) * 2);
}
.alert .close {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: auto;
    color: #000000;
    opacity: .5;
    cursor: pointer;
    transition: opacity 0.3s;
}

.alert .close:hover {
    opacity: 1;
}

.alert .close svg {
    width: 16px;
    height: 16px;
    color: #000000;
}

.alert-danger {
    border-bottom-color: var(--red);
    color: var(--red);
}

.alert-success {
    border-bottom-color: var(--green);
    color: var(--green);
}

.alert-info {
    border-bottom-color: var(--blue);
    color: var(--blue);
}

.alert-warning {
    border-bottom-color: var(--yellow);
    color: var(--yellow);
}

@keyframes alertOut {
    from {
        opacity: 1;
        transform: translateY(0px);
    }
    to {
        opacity: 0;
        transform: translateY(-10px);
    }
}

@keyframes alertIn {
    from {
        opacity: 0;
        transform: translateY(20px);
    }
    to {
        opacity: 1;
        transform: translateY(0px);
    }
}