<h1>Bienvenue sur Nytodev</h1>
<p>Vous venez de créer un compte. Pour activer votre compte, vous pouvez cliquer sur ce lien</p>
<a href="{{ url('auth_activation', { id: user.id, token: user.token }) }}">Activer mon compte</a>